*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background: #f8f5f2;
}
.main-header{
    background: white;
    padding: 1rem 0;
    box-shadow: 0 2px 8px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a1a2e;
    text-decoration: none;
}
.logo span {
    color: #c8963e;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
    font-weight: 600;
    color: #4a4e69;
}
.nav-links a:hover{
    color: #c8963e;
    transition: 0.3 all ease;
}
/* HERO SECTION */
.hero {
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1508963493744-76fce69379c0'); /* Replace with any cool watch image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* Overlay for readability */
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 0.8rem 2rem;
  background-color: #c8963e;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s;

}

.hero-btn:hover {
  background-color: #a67c31;
}
